{% extends 'layout.html' %}

{% block title %}{% endblock %} <!--Currently empty, but can add page name i.e. 'About - ' or 'CV - '-->

{% block head %}
{{super()}} <!-- super() copes in contents of the block/ default values in layout.html-->
{% endblock %}

{% block content %}
    <div id="everything">
        <img id='main-photo' src="static/boston.jpg" alt="Joe Moakley Park, photo taken by Adrian Butterworth." width="100%">
        <div id="noteverything">
            <h1>Adrian Butterworth</h1>
            <p>An Imperial College engineering graduate who leveraged programming throughout his degree, with practical experience in entrepreneurship and product prototyping. Possesses a track record of successful projects acquired by leveraging team members and picking up new skills, whether through in-depth learning, bootstrapping or making mistakes, but more importantly an open-mind and supportive mentors and supervisors. </p>
        </div>
    </div>
{% endblock %}



